.radio {
    position: relative;
    height: 20px;
    width: 20px;
    appearance: none;
}

.radio::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #000;
}


.radio:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    transform: translate(-50%, -50%);
}

.label {
    display: flex;
    align-items: center;
    gap: 15px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}