.friendMessage {
    margin-bottom: 45px;
}

.friendImageAndText {
    display: flex;
    gap: 10px;
    align-items: center;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background: url('./../avatar.png'), lightgray -16.029px 0px / 150.121% 100% no-repeat;
}

.friendText {
    max-width: 414px;
    min-height: 60px;
    background-color: #F5F7FB;
    filter: drop-shadow(0px 1px 2px rgba(29, 33, 38, 0.10)) drop-shadow(0px 5px 20px rgba(29, 33, 38, 0.03));
    padding: 8px 13px;
    border-radius: 10px;
}

.friendText:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -10px;
    border: 15px solid transparent;
    border-bottom: 15px solid #F5F7FB;
}

.friendName {
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.friendMessageText {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.friendTime {
    color: #000;
    font-size: 10px;
    font-weight: 600;
    margin: 5px 10px;
}