.greetingForm {
    font-family: Montserrat;
    font-size: 14px;
}

.inputAndButtonContainer {
    display: flex;
    gap: 10px;
}

.error {
    color: rgb(204, 0, 0);
    margin-top: 10px;
}

.input {
    width: 372px;
    height: 36px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
}

.input:focus {
    outline: none;
    border: 1px solid rgba(209, 209, 209, 1);
}

.errorInput {
    width: 372px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid rgb(204, 0, 0);
    font-size: 16px;
    font-weight: 500;
    outline: none;
}

.button {
    height: 36px;
    padding: 5px 24px;
    gap: 10px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    line-height: 20px;
    background-color: rgb(0, 102, 204);
    border: none;
}

.button:focus {
    background-color: rgb(0, 102, 204);

}

.button:active {
    background-color: rgb(0, 102, 204);
}

.button:disabled {
    opacity: 0.5;
    background-color: var(--primary-100, #06C);
}

.text {
    color: rgba(0, 0, 0, 0.502);
    margin-bottom: 10px;
}

.greeting {
    color: rgb(0, 0, 0);
    font-weight: 500;
}