.sendForm {
    display: flex;
    gap: 45px;
    margin-top: 75px;
}

.textarea {
    max-width: 976px;
    width: 100%;
    min-height: 40px;
    border-radius: 20px;
    background: #F5F7FB;
    box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.10), 0px 5px 20px 0px rgba(29, 33, 38, 0.03);
    padding: 12px 24px;
    border-color: #F5F7FB;
    resize: none;
    color: rgba(0, 0, 0, 0.60);
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
}

.button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background: #06C;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 38px;
    border: none;
}

.button:hover {}

.button:active {}