.burgerMenuIcon {
    width: 24px;
    height: 24px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 15px 70px;
    background: #FFF;
    box-shadow: 0px 0px 2px 0px rgba(29, 33, 38, 0.10), 0px 0px 40px 0px rgba(29, 33, 38, 0.13);
}

.header h1 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
}